.pagination{
	width:78%;
	margin: 20px auto;
}

.pagination a, .pagination span, .pagination em{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #fafafa;
    color: rgba(51,51,51,.75);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    line-height: 40px;
    margin-left: 10px;
    text-decoration: none;
}

.pagination em{
	border: 1px solid #0ca8d7!important;
    background: transparent!important;
    color: #0ca8d7!important;
}